@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li, a {
    border-radius: none;
    border: none;
}
li, a, button {
    font-family: 'Heebo', sans-serif;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: azure;
    text-decoration: none;
    border-radius: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 5%;
    
    background-color: #2B2D42;
}
  
::-webkit-scrollbar {
    width: 10px;
    background-color: #2B2D42;
    
  }
  ::-webkit-scrollbar-track {
    background: none; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2B2D42;
    border-radius: 100px;
    
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E11432; 
  }

.logo {
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.nav__links { 
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 5px 30px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
    
}

.nav__links li a:hover {
    color: #d6d6d6;
   
    
}


body {
    background-color: #d6d6d6;
}

button {
    padding: 9px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: none;
}

.explore_button {
    border-style: solid;
    background: #2B2D42;
    
    
}

.explore_button:hover {
    animation-name: color_button;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.try_now_button {
    background: #e22d45;
    border: 2px #E11432;
    
}

.try_now_button:hover {
    background: #E11432;
}

/*main*/
main {
    
   
    justify-content: center;
    align-items: center;
    padding: 11px 5%;
    
}
h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 900px;
    font-size: 40px;
    color: #2B2D42;
    margin: none;
    


}
p {
    font-family: 'Heebo', sans-serif;
    font-weight: 400px;
    font-size: 30px;
    color: #2B2D42;
    margin: none;
    width: 600px;
}
.div_main_text {
    transition: all 0.3s ease 0s;
    margin: 20px;
    align-self: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

h1 > .social_color {
    color: #2B2D42;
    animation-name: color_text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
    text-decoration: underline ;
}

.social_text {
    transition: all 0.3s ease 0s;
    font-size: 50px;
    font-weight: 900;
    
}

.img1_phone {
    transition: all 0.3s ease 0s;
    width: 250px;
    align-self: left;
}

.img1_phone:hover {
    transition: all 0.3s ease 0s;
    width: 254px;
}

.div_main_text{
    transition: all 0.3s ease 0s;
    align-items: right;
}

.div_main_text_margin {
    transition: all 0.3s ease 0s;
    margin-top: 100px;
}



footer {
    transition: all 0.3s ease 0s;
    background-color: #2B2D42;
    display: flex;
    align-items: center;
    align-content: center;
    
    -webkit-text-fill-color: #d6d6d6;
    
  }
  .credits {
    font-size: 20px;
  }




  
  @keyframes color_text {
    from {color: #2B2D42;}
    to {color: #e22d45;}
    
  }

  @keyframes color_button {
    0% {background-color: #2B2D42;}
    50% {background-color:#4284E6}
    100% {background-color: #2B2D42;}
  }
  



  @media  screen and (max-width: 790) {
    .div_main_text {
        font-size: 10px;
    }
}
  @media screen and (max-width: 620px) {
    
    h1 {
        transition: all 0.3s ease 0s;
        font-size: 28px;
        
    }
    p {
        transition: all 0.3s ease 0s;
        font-size: 18px;
        width: 300px;
    }
    .social_text {
        font-size: 25px;
        width: max-content;
    }
    .nav__links { 
        width: min-content;
      }
    .img1_phone {
        width: 180px;
    }
    .img1_phone:hover{
        width: 185px;
    }
    .div_main_text {
        margin: 50px;
    }
    
    button {
        font-size: 10px;
        
    }
    a {
        transition: all 0.3s ease 0s;
        font-size: 12px;
    }
    
    header {
        height: fit-content;
        justify-content: none;
        
    }
     }
